/*
h1 {
  font-weight: 700;
  text-align: center;
  font-size: 5rem;
}
*/

a {
  font-size: 2rem;
  margin-left: 2%;
}

img{
  max-height: 50%;
  }

body {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 5px;
  background-color: #c9c8c1;;
}

.card {
  background-color: #c9c8c1
}

p, a {
  font-size: 1.75rem;
}

h4 {
  font-size: 3rem;
  font-weight: 700;
}